.header {
    background-color: rgba(29, 168, 29, 0.664);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .header:hover {
    cursor: pointer;
  }
  