.lessons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
  }

.left-panel {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 68%;
    height: 100vh;
    background-color: #f0f0f0;
}